@model MVCClinica.Data.Medico
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <fieldset>
        <legend>Medico Details</legend>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Nombre)
        </div>
        <div class="display-text">
            @Html.DisplayFor(model => model.Nombre)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.Apellido)
        </div>
        <div class="display-text">
            @Html.DisplayFor(model => model.Apellido)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.NroMatricula)
        </div>
        <div class="display-text">
            @Html.DisplayFor(model => model.NroMatricula)
        </div>
        <div class="display-label">
            @Html.DisplayNameFor(model => model.EspecialidadId)
        </div>
        <div class="display-text">
            @Html.DisplayFor(model => model.EspecialidadId)
        </div>

    </fieldset>
    <p>@Html.ActionLink("Back to Index", "Index", "Medico")</p>
</body>
</html>
